.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.github/
.vscodeignore
**/*.ts
**/tsconfig.json
**/*.map
eslint.config.mjs
.prettierrc.js
.eslintignore
CHANGELOG.md
CONTRIBUTING.md
PLAN.md
package-lock.json
